/* Estilo para el contenedor principal */
.payment-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

/* Estilo para el formulario */
.payment-form {
    margin-top: 20px;
}

/* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los select y el input de fecha */
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para los botones */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para los botones al pasar el ratón */
button:hover {
    background-color: #0056b3;
}