<footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            
            <h5>CineMach</h5>
            <p>El mejor Cine con las Mejores Peliculas</p>
            <img class="logofoot" src="assets/cinelogo.png" alt="CineMach Logo">
        </div>
        <div class="col-md-6">
            <h5>Contacto</h5>
            <p>Email: info@cinemach.com</p>
            <p>Teléfono: 0986544122</p>
            <p>Síguenos en:</p>
            <a href="#"><img src="assets/fb.png" alt="Facebook"></a>
            <a href="#"><img src="assets/twit.png" alt="Twitter"></a>
            <a href="#"><img src="assets/yt.png" alt="Youtube"></a>
        </div>
        </div>
    </div>
    </footer>