<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
    <!-- Aquí puedes colocar tu logo -->
    <a class="navbar-brand" href="#"><img src="assets/cinelogo.png" alt="CineMach Logo"></a>
    
    <!-- Botón del menú desplegable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Enlaces y botones -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-md-2" routerLink="/homepage">
                    <i class="fa-solid fa-house me-md-2" style="color: #e8e8e9;">

                    </i>Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-md-2" routerLink="/cartelera">
                    
                        <i class="fa-solid fa-film me-md-2" style="color: #e8e8e9;">
                    </i>Cartelera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-md-2" routerLink="/proximos-estrenos">
                    <i class="fa-solid fa-forward me-md-2" style="color: #e8e8e9;">
                    </i>Próximos estrenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-md-2" routerLink="/dulceria">
                    <i class="fa-solid fa-cookie-bite me-md-2" style="color: #e8e8e9;"></i>
                    Dulceria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-md-2" routerLink="/compras">
                    <i class="fa-solid fa-cart-shopping me-md-2" style="color: #e8e8e9;"></i>
                    Compras</a>
            </li>
            <li class="nav-item" id="Perfil">
                <a class="nav-link btn btn-outline-primary" routerLink="/user-profile">
                    <i class="fa-regular fa-user me-md-2" style="color: #e8e8e9;"></i>
                    Perfil</a>
            </li>
        </ul>
    </div>
</nav>

  