.payment-container {
    width: 100%;
    max-width: 380px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .payment-details {
    margin-bottom: 30px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
 
  .payment-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  
  .payment-form input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  /* Estilo para el campo de entrada del número de tarjeta */
#card-number {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; 
    vertical-align: middle; 
}

/* Estilo para los íconos de las tarjetas */
.fa-brands {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 24px; 
}
  button {
    display: block;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .card-type-display {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
  }